<% if signed_in? -%>
	<div id="menu">
	 <ul id="nav">
	  <li<%= tab_class_for_controller_name('gifts') %>><%= link_to 'Wishlist', gifts_url %></li>
	  <!-- <li><a href="#">Shopping list</a></li> -->
	  <li<%= tab_class_for_controller_name('exchanges') %>><%= link_to "Exchanges", exchanges_url %></li>
	 </ul>
	</div>
<% end -%>
